<h1>Library Master(In The Library)</h1>
<form action="/bot" method="GET">
    <input type="text" name="text" placeholder="Send Through bot.">
    <input type="submit" value="Submit">
</form>
<h1>Dreamers</h1>
<form action="/dreamer_bot" method="GET">
    <input type="text" name="text" placeholder="Send Through to Dreamers.">
    <input type="submit" value="Submit">
</form>
<a href="https://8080-zayzayinthelibrary-onlin-9p19d5303m.app.codeanywhere.com/" target="_self">
    <h1>Bot Dashboard</h1>
</a>