<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">

    <title>Library Master</title>
</head>
<body>
<h1>The Library Master</h1>
    <p>This website is dedicated the discord bot "The Library Master"</p>
    <a href="./add_bot" target="_self">
        <button>Add Bot</button>
    </a>
    <a href="./get_token" target="_self">
        <button>Get Token(Don't Click)</button>
    </a>
<a href="https://5000-zayzayinthelibrary-onlin-9p19d5303m.app.codeanywhere.com/" target="_self">
    <h2>
        Bot Messaging Controller
    </h2>
</a>
</body>